{% extends 'templates/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1 class="page-head-line">Register</h1>
<form class="form-horizontal" role="form" action="{{ urlFor('register.post') }}" method="post" autocomplete="off">
    <div class="form-group{% if errors.first('email') %} error{% endif %}">
        <label class="control-label col-sm-2" for="email">Email</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="email" id="email" placeholder="myemail@stevens.edu">
            {% if errors.first('email') %}
            <span class="help-inline">{{ errors.first('email') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if errors.first('firstname') %} error{% endif %}">
        <label class="control-label col-sm-2" for="firstname">First Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="firstname" id="firstname">
            {% if errors.first('firstname') %}
            <span class="help-inline">{{ errors.first('firstname') }}</span>
            {% endif %}        
        </div>
    </div>
    <div class="form-group{% if errors.first('lastname') %} error{% endif %}">
        <label class="control-label col-sm-2" for="lastname">Last Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="lastname" id="lastname">
            {% if errors.first('lastname') %}
            <span class="help-inline">{{ errors.first('lastname') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if errors.first('major') %} error{% endif %}">
        <label class="control-label col-sm-2" for="major">Major</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="major" id="major">
            {% if errors.first('major') %}
            <span class="help-inline">{{ errors.first('major') }}</span>
            {% endif %}
        </div>
    </div>
     <div class="form-group{% if errors.first('advisor') %} error{% endif %}">
        <label class="control-label col-sm-2" for="advisor">Advisor</label>
        <div class="col-sm-4">
            <select class="form-control" name='advisor' id='advisor'>
                {% for user in advisors %} 
                <option value="{{ user.id_user }}">{{ user.last_name }}, {{ user.first_name }}</option>
                {% endfor %}
            </select>
            {% if errors.first('advisor') %}
            <span class="help-inline">{{ errors.first('advisor') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if errors.first('password') %} error{% endif %}">
        <label class="control-label col-sm-2" for="password">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            {% if errors.first('password') %}
            <span class="help-inline">{{ errors.first('password') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if errors.first('password_confirmation') %} error{% endif %}">
        <label class="control-label col-sm-2" for="password_confirmation">Confirm Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Confirm password">
            {% if errors.first('password_confirmation') %}
            <span class="help-inline">{{ errors.first('password_confirmation') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 pull-right">
                <button type="submit" class="btn btn-success"><span class="fa fa-pencil-square-o fa-lg fa-fw"></span> Register</button>
        </div>
    </div>
</form>
{% endblock %}
