<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="{{ baseUrl }}/">
        {% block head %}
        <link rel="stylesheet" href="css/stylesheet.css" />
        <!-- BOOTSTRAP CORE STYLE  -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- FONT AWESOME ICONS  -->
        <link href="css/font-awesome.css" rel="stylesheet" />
        <!-- JQUERY BOOTGRID STYLE  -->
        <link href="css/jquery.bootgrid.min.css" rel="stylesheet">
        <!-- CUSTOM STYLE  -->
        <link href="css/style.css" rel="stylesheet" />
       <title>DocManager | {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse set-radius-zero">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="{{ urlFor('home') }}">
                    <img src="images/Stevens-Logo-Preview.png" alt="Stevens Logo" />
                </a>
            </div>
            {% if auth %}
            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                            </a>
                            <div class="dropdown-menu dropdown-settings">
                                <h4 class="media-heading">{{ auth.first_name }} {{ auth.last_name }}</h4>
                                <hr />
                                <h5><strong>Major : </strong>
                                {{ auth.major }}</h5>
                                {% if auth.advisor.first_name %}
                                <h5><strong>Advisor : </strong>
                                {{ auth.advisor.first_name }} {{ auth.advisor.last_name }}</h5>
                                {% endif %}
                                <hr />
                                <a href="#" class="btn btn-info btn-sm">Profile</a>&nbsp; <a href="{{ urlFor('logout') }}" class="btn btn-danger btn-sm">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- HEADER END-->
    {% include 'templates/partials/messages.html.twig' %}
    <nav>{% include 'templates/partials/nav.html.twig' %}</nav>
    <!-- MENU SECTION END-->
    {% block content %}{% endblock %}
    <!-- CONTENT SECTION END-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block footer %}
                    <span class="copy-left">©</span> 2015 CS546 Summer | By : <a href="https://www.linkedin.com/in/scottnave" target="_blank"><i class="fa fa-linkedin"></i> Scott Nave</a> | Adam Taranov | <a href="https://github.com/navegs/DocumentQueue" target="_blank"><i class="fa fa-github"></i> Git Project</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.bootgrid.js"></script>
    <script>
        {% if flash.global %}
        $(document).ready(function () {
            setTimeout(function () {
                $('#notice_wrapper').fadeOut('slow', function () {
                    $(this).remove();
                })
            }, 4500);
        });
        {% endif %}

        /*
            JS Helper function to create a form and post provided data
         */
        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
        }
    </script>
    {% block script %}
    {% endblock %}
    </body>
</html>
