{% extends 'templates/base.html.twig' %}

{% block title %}Admin | Users{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Admin: Users </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="grid-selection" class="table table-condensed table-hover table-striped" data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-identifier="true" data-type="numeric" data-align="left" data-width="40">ID</th>
                                <th data-column-id="last_name" data-sortable="true" data-order="asc" data-header-align="left" data-filterable="true">Last Name</th>
                                <th data-column-id="first_name" data-sortable="true" data-header-align="left" data-filterable="true">First Name</th>
                                <th data-column-id="email" data-formatter="editlink" data-sortable="true" data-filterable="true">Email</th>
                                <th data-column-id="major" data-sortable="true" data-filterable="true">Major</th>
                                <th data-column-id="advisor" data-sortable="true" data-filterable="true">Advisor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id_user }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.major }}</td>
                                <td>
                                    {% if user.advisor.id_user %}{{ user.advisor.last_name }}, {{ user.advisor.first_name }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>   
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Override default bootgrid properties
    $("#grid-selection").bootgrid({
        templates: {        
            header: "<div id=\"{{'{{ctx.id}}'}}\" class=\"{{'{{css.header}}'}}\"><div class=\"row\"><div class=\"col-sm-12 actionBar\"><a href=\"{{ urlFor('admin.newUser') }}\" role=\"button\" class=\"btn btn-default pull-left\"><span class=\"fa fa-user-plus\"></span> Create</a><button type=\"button\" class=\"btn btn-default pull-left\" id=\"deleteBtn\"><span class=\"fa fa-trash\"></span> Delete</button><p class=\"{{'{{css.search}}'}}\"></p><p class=\"{{'{{css.actions}}'}}\"></p></div></div></div>",
            paginationItem: "<li class=\"{{'{{ctx.css}}'}}\"><a href=\"{{ urlFor('admin.users') }}{{'{{ctx.uri}}'}}\" class=\"{{'{{css.paginationButton}}'}}\">{{'{{ctx.text}}'}}</a></li>",
        },
        formatters: {
            "editlink": function(column, row)
            {
                var url = "{{ urlFor ('admin.editUser') }}";
                return string = "<a href=\"" + url.replace(':id', row['id']) + "\">" + row[column.id] + "</a>";
            }
        }
    });

    $('#deleteBtn').click(function () {
        var selected = $("#grid-selection").bootgrid("getSelectedRows");
        if(selected) {
            post("{{ urlFor('admin.deleteUser') }}", {userIds: selected});
        }
    });
</script
{% endblock %}
