{% extends 'templates/base.html.twig' %}

{% block title %}Admin | Edit Course{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line"><span class="glyphicon glyphicon-book"></span> Edit Course: {{ course.name }} </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" id="editCourseForm" role="form" method="post" action="{{ urlFor('admin.saveCourse') }}">
            <input type="hidden" name="courseId" id="courseId" value="{{ course.id_course }}">
                <div class="form-group row{% if errors.first('name') %} has-error has-feedback{% endif %}">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter course name"{% if request.post('name') %} value="{{ request.post('name') }}"{% else %} value="{{ course.name }}"{% endif %}>
                    </div>
                    <div class="col-sm-5">
                        {% if errors.first('name') %}
                        <span class="help-block">{{ errors.first('name') }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row{% if errors.first('description') %} has-error has-feedback{% endif %}">
                    <label class="control-label col-sm-2" for="description">Description:</label>
                    <div class="col-sm-5">
                    <textarea class="form-control" rows="3" name="description" id="description" placeholder="Enter description">{% if request.post('description') %}{{ request.post('description') }}{% else %}{{ course.description }}{% endif %}</textarea>
                    </div>
                    <div class="col-sm-5">
                        {% if errors.first('description') %}
                        <span class="help-block">{{ errors.first('description') }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row{% if errors.first('coordinator') %} has-error has-feedback{% endif %}">
                    <label class="control-label col-sm-2" for="coordinator">Coordinator:</label>
                    <div class="col-sm-5">
                    <select name="coordinator" class="form-control" id="coordinator">
                        <option value="">None</option>
                        {% for coordinator in coordinators %}
                        <option value="{{ coordinator.id_user }}"{% if course.coordinator.id_user == coordinator.id_user or request.post('coordinator') == coordinator.id_user %} selected{% endif %}>{{ coordinator.last_name }}, {{ coordinator.first_name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="col-sm-5">
                        {% if errors.first('coordinator') %}
                        <span class="help-block">{{ errors.first('coordinator') }}</span>
                        {% endif %}
                    </div>
                </div>                    
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <a href="{{ urlFor('admin.courses') }}" role="button" class="btn btn-danger">Cancel</a>
                            <button type="submit" class="btn btn-success" id="submit">Save</button>
                        </div>
                    </div>                         
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
