{{ submission.user.first_name }} {{ submission.user.last_name }},

<p>
{{ user.first_name }} {{ user.last_name }} {{ submission.status }} your {{ submission.queue.name }} submission for {{ submission.queue.queueable.name }}.
</p>
