{% extends 'home.html.twig' %}

{% block title %}View Submission{% endblock %}

{% block homecontent %}
    <h1 class="page-head-line"><span class="fa fa-list"></span> {{ submission.queue.queueable.name }} {{ submission.queue.name }} Submission</h1>
    <div class="row">
        <div class="col-md-8">
                <div class="form-group">
                    <input type="hidden" name="filetotal" id="filetotal" value="{{ queue.elements|length }}" />
                    <label class="control-label col-sm-4">Submitted By:</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ auth.first_name }} {{ auth.last_name }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Status:</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ submission.status }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Submitted On:</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ submission.created_at|date('M d, Y g:i:s A') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Last Updated:</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ submission.updated_at|date('M d, Y g:i:s A') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Attachments:</label>
                    <div class="col-sm-8">
                      {% for a in submission.attachments %}
                      <p class="form-control-static"><a href="{{ urlFor('home.view.attachment', {id: a.id_attachment}) }}" target="_blank">{{ a.name }}</a></p>
                      {% endfor %}
                    </div>
                </div>
                {% if queueOwnedByThisUser and reviewable %}
                <form class="form-horizontal" id="createSubmission" role="form" method="post" action="">
                <div class="form-group">
                    <div class="col-sm-offset-7 col-sm-5">
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <button type="button" class="btn btn-danger" id="rejectBtn">Reject</button>
                            <button type="button" class="btn btn-success" id="approveBtn">Approve</button>
                        </div>
                    </div>                         
                </div>
                </form>
                {% endif %}
        </div>
        <div class="col-sm-4"></div>
    </div>
<!-- TO DO: FINISH ATTACHMENT REPLACEMENT
    <div class="row">
        <div class="col-sm-8">
            <p class="page-head-line">Attachments</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    {% for a in submission.attachments %}
    <div class="row">
        <form class="form-horizontal" id="updateAttachment" role="form" method="post" enctype="multipart/form-data" action="{{ urlFor('submission.addcomment', {id: a.id_attachment }) }}">
            <div class="form-group">
                <label class="control-label col-sm-2" for="file{{ a.id_attachment }}"><p class="form-control-static"><a href="{{ urlFor('home.view.attachment', {id: a.id_attachment}) }}" target="_blank">{{ a.element.name }}</a></label>
                <div class="col-md-5">
                    <input type="file" name="file{{ q_element.id_element }}" id="file{{ q_element.id_element }}" class="filestyle" data-buttonText="Replace" data-placeholder="{{ a.name }}">
                    <span class="help-block">{{ q_element.description }}</span>
                </div>
                <div class="col-md-1">
                    <p class="form-control-static"><a href="{{ urlFor('home.view.attachment', {id: a.id_attachment}) }}" target="_blank">View</a></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="btn-toolbar pull-right" role="toolbar">
                        <button type="submit" class="btn btn-info" id="submit">Upload</button>
                    </div>
                </div>                         
            </div>
        </form>
    </div>
    <div class="row"><div class="col-sm-8"><hr></div><div class="col-sm-4"></div></div>
    {% endfor %}
-->
    <div class="row">
        <div class="col-sm-8">
            <p class="page-head-line">Comments</p>
            <form id="addComment" role="form" method="post" action="{{ urlFor('submission.addcomment', {id: submission.id_submission}) }}">
                <div class="col-sm-11">
                <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Enter comment" maxlength="200"></textarea>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info" id="submit">Add</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row"><div class="col-sm-8"><hr></div><div class="col-sm-4"></div></div>
    {% for c in submission.comments %}
    <div class="row">
        <div class="col-md-8">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{ c.user.first_name }} {{ c.user.last_name }}
                        <span class="small pull-right">{{ c.created_at|date('M d, Y g:i:s A') }}</span>
                    </h4>
                    <p>{{ c.comment }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row"><div class="col-sm-8"><hr></div><div class="col-sm-4"></div></div>
    {% endfor %}
{% endblock %}
{% block script %}
{% if queueOwnedByThisUser and reviewable %}
<script>
    $('#rejectBtn').click(function () {
        var url = "{{ urlFor ('submission.action') }}";
        url = url.replace(':id', '{{ submission.id_submission }}');
        url = url.replace(':action', 'reject');
        post(url);
    });
    $('#approveBtn').click(function () {
        var url = "{{ urlFor ('submission.action') }}";
        url = url.replace(':id', '{{ submission.id_submission }}');
        url = url.replace(':action', 'approve');
        post(url);
    });
</script>
{% endif %}
{% endblock %}