{% extends 'home.html.twig' %}

{% block title %}Create Submission{% endblock %}

{% block homecontent %}
    <h1 class="page-head-line"><span class="fa fa-list"></span> Create Submission for {{ queue.queueable.name }}<br>{{ queue.name }}</h1>
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" id="createSubmission" role="form" method="post" enctype="multipart/form-data" action="{{ urlFor('home.view.submission.save', {id: queue.id_queue}) }}">
                <div class="form-group">
                    <input type="hidden" name="filetotal" id="filetotal" value="{{ queue.elements|length }}" />
                    <label class="control-label col-sm-4">Submitted By:</label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ auth.first_name }} {{ auth.last_name }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" style="padding-top:0px;" for="comment">Comment:</label>
                    <div class="col-sm-8">
                    <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Enter comment (optional)" maxlength="200"></textarea>
                    </div>
                </div>
                {% for q_element in queue.elements %}
                <div class="form-group">
                    <label class="control-label col-sm-4" for="file{{ loop.index0 }}">{{ q_element.name }}:</label>
                    <div class="col-sm-8">
                        <input type="file" name="file{{ loop.index0 }}" id="file{{ loop.index0 }}" class="filestyle">
                        <span class="help-block">{{ q_element.description }}</span>
                    </div>
                </div>
                {% endfor %}                  
                <div class="form-group">
                    <div class="col-sm-offset-7 col-sm-5">
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <a href="{{ urlFor('home') }}" role="button" class="btn btn-danger">Cancel</a>
                            <a href="{{ urlFor('admin.courses') }}" role="button" class="btn btn-info">Save Draft</a>
                            <button type="submit" class="btn btn-success" id="submit">Submit</button>
                        </div>
                    </div>                         
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}
