{% extends 'templates/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if auth %}
        <div class="col-md-3" style="padding:0;">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <tbody>
                            <tr>
                                <td style="padding-left:35px;"><a href="{{ urlFor('home.view.submissions') }}"><span class="fa fa-list-alt"></span> My Submissions</a></td>
                                <td style="padding-right:30px;" class="text-right text-nowrap"><span class="badge pull-right">{{ auth.submissions.count }}</span></td>
                            </tr>
                    </tbody>
                </table>
            </div>
            {% if auth.hasRole('ADVISOR') %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="panel-title"><span class="glyphicon glyphicon-user"></span> My Personal Queues</span>
                    <div class="btn-group pull-right">
                    <a href="{{ urlFor('addqueue', {'type': 'user', 'id': auth.id_user}) }}" role="button" class="btn btn-default btn-xs"><span class="fa fa-plus fw"></span></a>
                    </div>           
                </div>
                <table class="table table-condensed table-hover">
                    <tbody>
                        {% for uq in userqueues %}
                            <tr{% if (queue) and (queue.id_queue == uq.id_queue) %} class="info"{% endif %}>
                                <td style="padding-left:35px;"><a href="{{ urlFor('home.view.queue', {id: uq.id_queue}) }}"><span class="fa fa-list-alt"></span> {{ uq.name }}</a></td>
                                <td style="padding-right:30px;" class="text-right text-nowrap"><span class="badge pull-right">{{ uq.submissions.count }}</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if auth.hasRole('INSTRUCTOR') %}
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">                            
                            <span class="panel-title"><span class="fa fa-book fa-lg"></span> My Course Queues</span>
                        </div>
                        <table class="table table-condensed table-hover">
                            <tbody>
                            {% for course in mycourses %}
                            <tr class="bg-warning">
                                <td>{{ course.name }}</td>
                                <td class="text-right text-nowrap">
                                    <a href="{{ urlFor('addqueue', {'type': 'course', 'id': course.id_course}) }}" role="button" class="btn btn-xs btn-default"><span class="fa fa-plus fw"></span></a>
                                </td>
                            </tr>
                            {% if course.queues|length > 0 %}
                                {% for cq in course.queues %}
                                    {% if cq.is_enabled %}
                                    <tr{% if (queue) and (queue.id_queue == cq.id_queue) %} class="info"{% endif %}>
                                        <td style="padding-left:35px;">
                                            <a href="{{ urlFor('home.view.queue', {id: cq.id_queue}) }}"><span class="fa fa-list-alt"></span> {{ cq.name }}</a>
                                        </td>
                                        <td class="text-right text-nowrap">
                                            <span class="badge">{{ cq.submissions.count }}</span>
                                            <a href="#" role="button" class="btn btn-xs btn-default"><span class="fa fa-cog fw"></span></a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="2" style="padding-left:35px;">No active queues for this course</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-md-{{ auth ? 9 : 12 }}">
            {% block homecontent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
